.cardPopupDialog {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(76, 85, 100, 0.5);
}
.cardPopupmodalDialog-content {
    position:absolute;
    top:13%;
    padding: 32px;
    width: 40%;
    background-color: white;
    height:70%;
    border-radius: 20px;

}
.cardPopupmodalDialog-contentRedeem {
    position:absolute;
    top:13%;
    padding: 32px;
    width: 40%;
    background-color: white;
    height:75%;
    border-radius: 20px;
}
.cardPopupcontentDiv {
    height: 20%;
    width: 64%;
    position: absolute;
    top:32%;
    left:18%;
}
.cardPopuptitleDiv {
    position: absolute;
    width: 80%;
    left:10%;
    top:15%;
}
.cardPopupTitle {
    font-family: 'Space Mono';
    color: black;
    font-size: 1.9em;
    position: absolute;
    left:2.8%;
    top:10%;
    font-weight: bold;
    text-align: center;
}
.cardPopupContent {
    font-family: 'Roboto Mono';
    text-align: center;
    color:black;
    mix-blend-mode: normal;
    margin-bottom: 0%;
}
.boldedContent {
    font-weight: bold;
    color: #528990;
    font-family: 'Roboto Mono';
}
.cardPopupconfirmButton {
    background: #0568FD;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white; 
    width: 40%;
    height: 10%;
    font-family: 'Space Mono';
    font-weight: bold;
}
.cardPopupCardDiv {
    position: absolute;
    top: 43%;
    width: 80%; 
    left: 5%;
    height: 70%;
} 
.skipButton {
    background: transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white; 
    /* width: 25%;
    height: 5%; */
    color: #528990;
    font-weight: bold;
    font-family: 'Space Mono';
}
#closeBtnCardPopup {
    position:absolute;
    top:80%;
    left:30.5%;   
    font-weight: bold;
    text-transform: uppercase;

}
#closeBtnCardPopupRedeem {
    position:absolute;
    top:78%;
    left:30.5%;   
    font-weight: bold;
    text-transform: uppercase;

}
#skipWallet {
    position: absolute;
    top:88%;
    left:38%;
}
#cardPopupClose {
    position: absolute;
    left: 90%;
    top:5%;
    background: transparent;
    background-color: transparent;
}
#p1 {
    position:absolute;
    top:0%;
    left:64%;
}
#p2 {
    position:absolute;
    left:2%;
}
#div1 {
    position: absolute;
    left:17%;
    width: 66%;
    top:52%;
}
#div2 {
    position: absolute;
    top: 56%;
    width: 72%;
    left:14%;
}
#useLater {
    position: absolute;
    top:90%;
    left:38%;
}
#email {
    font-weight: bold;
}