.primary_container {
    width: 90%;
    height: 30%;
    background-color: #FAE6E9;
    padding: 2%;
    border-radius: 16px;
    display: flex;
    transition: all 0.5s ease-in-out;
    margin-bottom: 3%;
    margin-left: 5%;
}

.primary_container_expired {
    min-width: 90%;
    min-height: 30%;
    background-color: #CBD5E1;
    padding: 2%;
    border-radius: 16px;
    display: flex;
}

.secondary_container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

.circle_div_up {
    position: relative;
    width: 100%;
    height: 13%;
    background-color: #FAE6E9;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    margin-left: 0%;
    transition: all 0.5s ease-in-out;
}

.circle_div_up_expired {
    position: relative;
    width: 100%;
    height: 13%;
    background-color: #CBD5E1;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    margin-left: 0%;
}

.circle_div_down {
    position: relative;
    width: 100%;
    height: 13%;
    background-color: #FAE6E9;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    margin-left: 0%;
    transition: all 0.5s ease-in-out;
}

.circle_div_down_expired {
    position: relative;
    width: 100%;
    height: 13%;
    background-color: #CBD5E1;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    margin-left: 0%;
}

.left {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    min-width: 63%;
    min-height: 100%;
    background-color: white;
    border-right: none;
    /* border-right: 2px dashed black; */

    /* display: inline-block; */
}

.mid {
    min-width: 7%;
    min-height: 100%;
    background-color: white;
    border-color: white;
}

.right {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    min-width: 30%;
    min-height: 100%;
    max-width: 30%;
    min-height: 100%;
    background-color: white;
    text-align: center;
    /* display: inline-block; */
}

.dotted {
    border-left: 2px dashed #528990;
    height: 74%;
    margin-left: 47%;
}

.page {
    width: 600px;
    height: 600px;
    margin-top: 10%;
    margin-left: 30%;
}

.QRcode {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

.beo_spaces_div {
    margin-top: 3%;
    margin-left: 5%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 92%;
    color: #0352C4;
}

.address_div {
    margin-top: 1%;
    height: 19%;
    width: 92%;
    margin-left: 4%;
    display: flex;
    /* line-height: 70%; */
}

.date_div {
    margin-top: 1%;
    height: 19%;
    width: 92%;
    margin-left: 4%;
    display: flex;
    /* line-height: 30%; */
}

.redeem_div {
    margin-top: 1%;
    height: 19%;
    width: 92%;
    margin-left: 4%;
    display: flex;
    /* line-height: 30%; */
}

.redeem_btn {
    font-family: "Roboto Mono";
    margin-top: 1%;
    font-weight: bold;
    background: #0568FD;
    border-radius: 36px;
    border: none;
    color: white;
    width: 22%;
    height: 80%;
    display: none;
    transition: all 0.5s ease-in-out;
}

.text1 {
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.text2 {
    font-family: 'Roboto Mono';
    margin-left: 2%;
    font-size: 0.8vw;
    margin-top: auto;
    margin-bottom: auto;
}

.text3 {
    font-family: 'Space Mono';
    margin-left: 2%;
    font-size: 0.7vw;
    font-weight: bold;
    color: #528990;
    margin-top: auto;
    margin-bottom: auto;
}

.span {
    height: 10%;
    width: 10%;
}

.imgDiv {
    height: 100%;
    width: auto;
}

.icon {
    /* margin-top: 1%; */
    /* font-size: 50px; */
    /* background: url('../assets/map-marker.svg') no-repeat; */
    /* margin-top: auto;
    margin-bottom: auto; */
    /* width: auto;
    height: 80%; */
    transform: scale(0.8);
}

.beo_space_second_div {
    display: flex;
    width: 40%;
    height: 40%;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

#expired {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: "Roboto Mono";
    /* font-size: 10px; */
}

#expired_div {
    height: 80%;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    text-align: center;
    background-color: #E7AA6D;
    border-radius: 9px;
}

#available_div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5%;
    /* line-height: 10%; */
    width: 20%;
    /* text-align: center; */
    height: 50%;
    background-color: #0568FD;
    border-radius: 9px;
    color: white;
}

.copy_mail_div {
    width: 30%;
    margin-left: 2%;
    display: none;
}

#redemer_div {
    margin-left: 2.5%;
    line-height: 10%;
    width: 25%;
    /* background-color: antiquewhite; */
    text-align: center;
}

.primary_container:hover .copy_mail_div {
    display: block;
}

.primary_container:hover {
    background-color: black;
}

.primary_container:hover .circle_div_up {
    background-color: black;
}

.primary_container:hover .circle_div_down {
    background-color: black;
}

.primary_container:hover .redeem_btn {
    display: block;
}