.container {
    border: 2px solid #000000;
    border-radius: 16px;
    width: 21%;
    height: 120%;
    font-size: 120%;
    position: relative;
}

.buttonContainer {
    height: 8%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
    display: flex;
}

#btn1,
#btn2,
#btn3 {
    display: flex;
    font-family: 'Roboto Mono';
}


button {
    background: #FFFFFF;
    align-items: center;

    border: white;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 1em;
    line-height: 100%;
    width: 100%;
    height: 100%;
    /* transition-duration: 0.4s;*/
}

#btn1Container {
    position: absolute;
    top: 10%;
    left: 10%;
    
}


#btn2Container {
    position: absolute;
    top: 20%;
    left: 10%;
}

#btn3Container {
    position: absolute;
    top: 30%;
    left: 10%;
}

 /* #btn1:hover,
#btn2:hover,
#btn3:hover {
    background-color: black;
    border: 2px solid black;
    border-radius: 8px;
}  */

/* #btn1Container:hover,
#btn2Container:hover,
#btn3Container:hover
{
    background-color: #FAE6E9;;
    border: 2px solid black;
    border-radius: 8px;
} */

.btnActive{
    border: 2px solid white;
    border-radius: 8px;
}

#img1 {
    margin-left: 10%;
    margin-right: 5%;
    width: 12.5%;
    height: 100%;
}

#img2 {
    margin-left: 10%;
    margin-right: 5%;
    width: 12.5%;
    height: 100%;
}

#img3 {
    margin-left: 10%;
    margin-right: 5%;
    width: 12.5%;
    height: 100%;
}

.inactive {
    background-color: white;
    color: #528990;
    border: 2px solid #528990;
    border-radius: 8px;
}

.inactive:hover {
    background-color: #FAE6E9;;
    border: 2px solid #528990;
    border-radius: 8px;
} 

.btnContainerActive{
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
}
.btnContainerActive:hover{
    background-color: #FAE6E9;;
    border: 2px solid black;
    border-radius: 8px;
}



.bottomDiv {
    background-color: #528990;
    position: absolute;
    bottom: 5%;
    width: 88%;
    height: 18%;
    left: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100%;
    border-radius: 16px;
}

#coworkingSpace {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 130%;
    color: #FAE6E9;
    padding-top: 13%;
    padding-right: 18%;
    margin-bottom: -1%;
    position: absolute;
    top: -5%;
    left: 10%;
}

#dashboardPar {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw;
    line-height: 160%;
    padding-left: 18%;
    padding-bottom: 13%;
    color: black;
    position: absolute;
    top: 50%;
    left: 25%;
}

.notification {
    background-color: #528990;
    width: 9%;
    height: 49%;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin: auto;
}
