#beoseats {
    position: absolute;
    left: 2%;
    top: 28%;
    width: 14%;
    height: 44%;
}

#whiteCircle {
    position: absolute;
    right: 23.31%;
    top: 23%;
    left:77.685%;
    bottom: 0%;
    /* height: 58%; */
    height:59px;
    width: 59px;
    /* width: 3.35%; */
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}

#arrow {
    position: absolute;
    left: 96%;
    right: 8.33%;
    top: 49%;
    bottom: 16.67%;
    width: 0.73%;
    height: 9.4%;
}

#wallet {
    position: absolute;
    width: 10.8%;
    top: 43%;
    left:83.8%;
    
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75vmin;
    line-height: 85%;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    
    /* Slate */
    
    color: #262338;    
}

.header {
    /* Header */
    position: relative;
    width: 96%;
    height: 10%;
    margin-left: 2%;
    margin-top: 2%; 

    /* LightPink */
    background: #FAE6E9;
    border-radius: 16px;
}

