.leftDiv {
    /* background-color: azure; */
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 200px;
    left: 10%;
    border-radius: 10px;
    /* background: rgb(185, 184, 184); */
    padding: 30px;
}

.rightDiv {
    display: inline-block;
    /* background-color: #DDD; */
    /* background: linear-gradient(to bottom, #276fb7, #3c73c0); */
    width: 50%;
    position: absolute;
    left: 50%;
    top: 15%;
}

#headerLogo {
    position: absolute;
    left: 4%;
    top: 2%;
}

.mainDiv {
    /* background:linear-gradient(to bottom, #468edb, #3f7fc4); */
    height: 100vh;
    width: 100vw;
    background-color: #DDD;
}

.topDiv {
    height: 100px;
    /* background:linear-gradient(to bottom, #24568c, #1d4978); */
    background: #545454;
}
.text {
    color: rgb(55, 51, 51);
    position: relative;
    left: 20px;
}
hr {width: 30vw ;margin-left: auto;margin-right: auto;height: 2px;background-color:white;}

#numberOfPlaces, #rentPeriod, #stake, #places {
    width: 50%;
    position: relative;
    left: 30%;
    margin: 20px;
}
#stake {
    top:80%;
}
#numberOfPlaces {
    top: 90%;
}
#rentPeriod {
    top:100%;
}
#stakeBtn, #unstakeBtn {
    position: relative;
    top: 30%;
}

#rentBtn {
    position: relative;
    left: 8%;
}