.leftDiv {
    /* background-color: azure; */
    /* background-color: #DDD; */
    display: inline-block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 100px;
    right: 50%;
    border-radius: 10px;
    /* background: rgb(185, 184, 184); */
    padding: 30px;
    left: 0%;
}

.rightDiv {
    /* background-color: #DDD; */
    display: inline-block;
    /* background-color: #DDD; */
    /* background: linear-gradient(to bottom, #276fb7, #3c73c0); */
    width: 50%;
    position: absolute;
    left: 50%;
    overflow-y: auto;
    max-height: 90vh;
}

#headerLogo {
    position: absolute;
    left: 4%;
    top: 2%;
}
.dashboardDiv {
    position: relative;
    top:0%;
    height: 80%;
    width: 23%;
}

.mainDiv {
    /* background:linear-gradient(to bottom, #468edb, #3f7fc4); */
    height: 100vh;
    width: 100vw;
    /* background-color: #8b98ff; */
    /* background: radial-gradient(circle at center, #78dac0, #8b98ff 100%) */
}

.topDiv {
    height: 300px;
    /* background:linear-gradient(to bottom, #24568c, #1d4978); */
    background: #000000;
}

.text {
    color: rgb(55, 51, 51);
    position: relative;
    left: 20px;
}

hr {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: white;
}

#numberOfPlaces,
#rentPeriod,
#stake,
#places {
    width: 50%;
    position: relative;
    left: 30%;
    margin: 20px;
}

#stake {
    top: 80%;
}

#numberOfPlaces {
    top: 90%;
}

#rentPeriod {
    top: 100%;
}

#stakeBtn,
#unstakeBtn {
    position: relative;
    top: 30%;
    background: black;
    color: #8b98ff;
}

#rentBtn {
    position: relative;
    left: 8%;
    background: #0a6efd;
    color: white;
}
body {
    overflow: hidden;
}

.picture {
    width: 15%;
    height: 15%;
    margin-right: 5%;
}

.line {
    margin-left: 20%;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.myText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
}

.infoDiv {
    text-align: left;
}

.statDiv {

    padding-left: 13%;
    align-content: center;
}