.leftDiv {
    background-color: azure;
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 200px;
    left: 10%;
}

.rightDiv {
    display: inline-block;
    background-color: #DDD;
    /* background: linear-gradient(to bottom, #276fb7, #3c73c0); */
    width: 50%;
    position: absolute;
    left: 50%;
    top: 15%;
}

#headerLogo {
    position: absolute;
    left: 5%;
    top: 3%;
}

.mainDiv {
    /* background: linear-gradient(to bottom, #0f284a, #11315c); */
    height: 100vh;
    width: 100vw;
    background-color: #DDD;
}

.topDiv {
    height: 100px;
    background: linear-gradient(to bottom, #0c2d4d, #123566);
}