.divMain{
    width: 320px;
    height: 100px;
    margin-top: 20px;
    background: #FFFFFF;
    border-bottom: 2px solid #0568FD;
}

.titleDiv{
    display: flex;
    justify-content: space-between;
}

.title{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    color: #000000;
}

.time_passed{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #0568FD;
}

.notif_message{


    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    font-feature-settings: 'calt' off;

    color: #000000;
}