.divMain{
    width: 320px;
    height: 90px;
    margin-top: 20px;
    background: #FFFFFF;
    border-bottom: 2px solid #0568FD;
}

.divMain_seen{
    width: 320px;
    height: 90px;
    margin-top: 20px;
    background: #FFFFFF;
    border-bottom: 2px solid #CBD5E1;
}

.titleDiv{
    display: flex;
    justify-content: space-between;
}

.title{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    color: #000000;
}

.time_passed{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #0568FD;
}

.time_passed_seen{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #528990;
}

.notif_message{

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 10px; /* treba 14px */
    word-wrap: break-word;

    font-feature-settings: 'calt' off;

    color: #000000;
}