#tickets {
    position: absolute;
    width: 30%;
    height: 3.75%;
    left: 0%;
    top:0%;

    /* H2 */

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 120%;
}

#available {
    position: absolute;
    width: 76px;
    height: 18px;
    left: 76%;
    top:0%;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Grayscale/Black */

    color: #000000;
}

#redeemed {
    position: absolute;
    width: 68px;
    height: 18px;
    left:87.5%;
    top:0%;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Grayscale/Label */

    color: #93A4B7; 
}

#expiredButton {
    /* Expired */
    position: absolute;
    width: 59px;
    height: 18px;
    left:98%;
    top:0%;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Grayscale/Label */

    color: #93A4B7;
}
ul {
    list-style-type: none;
}
/* li.active::after {
    position: absolute;
    content: "";
    height: 20%;
    width: 100%;
    background-color: #0568FD;
    left: 0%;
    bottom: -50%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.2s linear;
} */
@keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 100%;    
    }
}